body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

#page
{
    width: 96%;
	margin-top: 5px;
	margin-bottom: 5px;
	margin:0 auto;
	
	background: green;
	border: 1px solid #C9E0ED;
}
#content
{
    width: 100%;   
}


#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}


#hbody {
	border:1px solid #4f0;
	height:200px;
	width:100%; /*设定宽度*/
}

#hleft {
	 float:left; /*浮动居左*/
	 height:200px;
	 width:80%; /*设定宽度*/
	 text-align:center; /*文字左对齐*/
	 background: #ccd2de; 


}
#hright {
	float:right; /*浮动居右*/
	 height:200px;
	 width:20%;
	 text-align:left;
    background: #F2F3F7;
}

#mbody {
	margin:100 auto;
	border:1px solid #4f0;
	height:400px;
	width:100%; /*设定宽度*/
}

#mleft {
	 float:left; /*浮动居左*/
	 height:400px;
	 width:32%; /*设定宽度*/
	 text-align:center; /*文字左对齐*/
	 background: #ccd2de; 


}
#mmid {
	float:right; /*浮动居右*/
	 height:400px;
	 width:36%;
	 text-align:left;
    background: #F2000;
}

#mright {
	float:right; /*浮动居右*/
	 height:400px;
	 width:32%;
	 text-align:left;
    background: #F2F3F7;
}


/*
#box1,#box2,#box3,#box4{ width:400px; height:200px; margin:0 auto; border:1px solid #666} 
#box1{background:url(a.jpg)} 
#box2{background:url(a.jpg) no-repeat 10px center} 
#box3{background:url(a.jpg) repeat-x 0 30px} 
#box4{background:url(a.jpg) repeat-y center} 
*/





#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
	
	
}





#logo
{
	padding: 10px 20px;
	font-size: 200%;
}






#topmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#topmenu ul
{
	padding:6px 10px 5px 85%;
	margin:0px;
}

#topmenu ul li
{
	display: inline;
}

#topmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#topmenu ul li a:hover, #topmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}



#mainmenux
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenux ul
{
	padding:6px 20px 5px 0px;
	margin:0px;
}

#mainmenux ul li
{
	display: inline;
}

#mainmenux ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenux ul li a:hover, #mainmenux ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}








#footer
{
	background:white urlx(bg.gif) repeat-x left top;
}

#footer ul
{
	padding:6px 20px 5px 15%;
	margin:0px;
}

#footer ul li
{
	display: inline;
}

#footer ul li a
{
	color:#dcdcff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#footer ul li a:hover, #footer ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}






div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

#login{
    margin:10px auto;
	text-align: center;
}

#register{
    margin:10px 20px;

}


#history{
	margin:10px 20px;
}